# Ignore environment variable files
.env

# Ignore database
db.sqlite3

# Ignore compiled Python files
*.pyc

# Ignore media/uploads
media/
uploads/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
